<!-- views/partials/shop.ejs -->

<aside class="shop-sidebar shop-sidebar-dark" style="display: none;">
    <div class="box box-warning direct-shop direct-shop-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Agregar Stock</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="shop-pane-toggle" data-original-title="Contacts">
            <i class="fa fa-comments"></i></button>
          <button type="button" class="btn btn-box-tool btn-room" data-toggle="tooltip" title="" data-widget="shop-room-pane-toggle" data-original-title="Rooms">
            <i class="fa fa-bars"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">

        <!-- Contacts are loaded here -->
        <form id="addStock">
        <div class="stock-items direct-shop-contacts">
          <ul class="productGroups no-padding">
            <!-- End Contact Item -->
          </ul>
          <!-- /.contatcts-list -->
        </div>
        <!-- /.direct-shop-pane -->
        </form>
      </div>
      <!-- /.box-body -->
    </div>
    <!--/.direct-shop -->
</aside>
<!-- /.shop-sidebar -->
