<!-- views/partials/sidebar.ejs -->

<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 596px;">
			<section class="sidebar" style="height: 596px; overflow: scroll; width: auto;">
			<!-- Sidebar user panel -->
			<div class="user-panel">
				<div class="pull-left image">
					<img src="images/userImage.png" class="img-circle userimg" alt="User Image">
				</div>
				<div class="pull-left info">
					<p class="username capitalize"><a href="#"></a></p>
					<a href="#"><i class="fa fa-circle text-success"></i> Conectado</a>
				</div>
				<span class="pull-right log-out">
					<i class="fa fa-sign-in text-gray"></i>
				</span>
			</div>
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu tree" data-widget="tree">
				<li class="header">MENU</li>
				<li>
					<a href="/home">
						<i class="fa fa-home"></i>
						<span>Inicio</span>
						<span class="pull-right-container">
							<!-- <span class="label label-primary pull-right">4</span> -->
						</span>
					</a>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-bus"></i>
						<span>Productos</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
							<!-- <span class="label label-primary pull-right">4</span> -->
						</span>
					</a>
					<ul class="treeview-menu">
						<li><a href="/products"><i class="fa fa-circle-o"></i> Listado </a></li>
						<li><a href="/products/register"><i class="fa fa-circle-o"></i> Nuevo</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-bus"></i>
						<span>Lineas</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
							<!-- <span class="label label-primary pull-right">4</span> -->
						</span>
					</a>
					<ul class="treeview-menu">
						<li><a href="/lineas"><i class="fa fa-circle-o"></i> Listado </a></li>
						<li><a href="/lineas/register"><i class="fa fa-circle-o"></i> Nuevo</a></li>
					</ul>
				</li>
				<li>
					<a href="/ramales/register">
						<i class="fa fa-random"></i>
						<span>Ramales</span>
						<span class="pull-right-container">
							<!-- <span class="label label-primary pull-right">4</span> -->
						</span>
					</a>
				</li>
				<li>
					<a href="/tarifas/register">
						<i class="fa fa-dollar"></i>
						<span>Tarifas</span>
						<span class="pull-right-container">
							<!-- <span class="label label-primary pull-right">4</span> -->
						</span>
					</a>
				</li>
				<li>
					<a href="/users">
						<i class="fa fa-users"></i>
						<span>Usuarios</span>
						<span class="pull-right-container">
							<!-- <span class="label label-primary pull-right">4</span> -->
						</span>
					</a>
				</li>
			</ul>
		</section>
		<div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 383.603px;"></div>
		<div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
		<!-- /.sidebar -->
	</aside>