<!DOCTYPE html>
<html lang="es">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap-reboot.min.css">

	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
<!--===============================================================================================-->
</head>
<body data-mode="index">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div id="login" class="login100-form validate-form">
					<span class="login100-form-title p-b-30">
						Estudio Halecka
					</span>

					<span class="txt4 p-b-18">
						Asesoramiento jurídico a empresas de transporte con más de 20 años de experiencia.
					</span>
					
					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Escriba usuario">
						<input class="input100 email" type="text" name="email" placeholder="E-mail">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Escriba contraseña">
						<input class="input100 password" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn submit">
							Entrar al sistema
						</button>
					</div>
				</div>

				<div class="login100-more"></div>
			</div>
		</div>
	</div>
		

	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>

	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- <script src="/js/home.js"></script> -->
	<script src="/js/index1.js"></script>

</body>
</html>